@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center col-md-12">
    <h1 class="text-primary-emphasis">Wellcome to Fair and Square!</h1>
</div>
<div class="text-center ">
    <img src="~/Assets/v2.1.jpg" alt="racoon" class="img-fluid">
</div>

