@model BillTypeFormViewModel
@{
    ViewBag.Title = "Custom BillTypes";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model.CustomBillTypes)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Name</h5>                
            </div>

            
            <form class="input-group-sm " asp-controller="BillType" asp-action="Delete" asp-route-id="@e.Id">
                <input type="submit" value="Delete" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
            </form>
        </div>
    }
    <partial name="_AddBillTypePartial" model="@Model" />    
</div>
