<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Messages" asp-action="Index">Messages</a>
    </li>
    @{if (User.IsMasterAdmin())
    {
        <li class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">Manage Admin Accounts</a>
    </li>
    }}
</ul>        