<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link " asp-area="Guest" asp-controller="Bill" asp-action="Index">Bills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-area="Guest" asp-controller="Household" asp-action="Index">Household</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archive</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Guest" asp-controller="Archive" asp-action="BillsArchive">Bills Archive</a>
            <a class="dropdown-item" asp-area="Guest" asp-controller="Archive" asp-action="HouseholdArchive">Household Archive</a>
            <a class="dropdown-item" asp-area="Guest" asp-controller="Archive" asp-action="SalariesArchive">Members Salaries Archive</a>

        </div>
    </li>    
    <li class="nav-item">
        <a class="nav-link" asp-area="Guest" asp-controller="Feedback" asp-action="Index">Feedback</a>
        </li>
</ul>